
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  margin: 40px 28px;
}

.shirt_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 3px solid #5CA4D7;
  border-bottom: none;
  padding-bottom: 20px;
}

.shirt_container img {
  max-width: 100%;
  margin: 0 auto;
}

.shirt_container i {
  display: flex;
  justify-content: space-around;
  padding: 2px;
  height: 35px;
  width: 35px;
  color: #5CA4D7;
  font-size: 220%;
  border: 3px solid #5CA4D7;
  border-top: none;
  border-right: none;
}

.shirt_options {
  display: flex;
  height: 60px;
  border: 3px solid #5CA4D7;
  border-right: none;
  border-bottom: none;
}

.shirt_options div {
  display: inline-block;
  width: 20%;
  border: 3px solid #5CA4D7;
  border-left: none;
  border-top: none;
}

.shirt_options h1 {
  display: flex;
  justify-content: space-around;
  font-family: 'Lato', sans-serif;
  color: #5CA4D7;
  font-size: 140%;
  padding-top: 15px;
  padding-bottom: 17px;
  margin: 0 auto;
}

.shirt_options i {
  color: #5CA4D7;
  font-size: 175%;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}

.pink_sq i {
  color: #D280A9;
  font-size: 175%;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}

.yellow_sq i {
  color: #D9B081;
  font-size: 175%;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  padding-top: 20px;
  color: #5CA4D7;
  font-size: 30px;
  margin: 0 4px;
  font-family: 'Lato', sans-serif;
}

/*responsive features*/

@media screen and (min-width: 700px) {
    body {
        flex-direction: row;
    }
}

.shirt_options i:hover {
  background-color: #5CA4D7;
  color: #FFFFFF;
}

.shirt_options h1:hover {
  background-color: #5CA4D7;
  color: #FFFFFF;
}

.shirt_container i:hover {
  background-color: #5CA4D7;
  color: #FFFFFF;
}

.pink_sq i:hover {
  background-color: #5CA4D7;
  color: #D280A9;
}

.yellow_sq i:hover {
  background-color: #5CA4D7;
  color: #D9B081;
}
